@page "/GetArtists"
@using Dashboard.Web.Data.Services
@using RestSharp
@using Dashboard.Web.Data
@inject ArtistService service

<h1>List Artists</h1>

<p>This component lists registered artists.</p>

@if (artists == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Nickname</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var artist in artists)
            {
                <tr>
                    <td>@artist.id</td>
                    <td>@artist.name</td>
                    <td>@artist.surname</td>
                    <td>@artist.nickname</td>
                    <td>@artist.artistTypeName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    ArtistDTO[] artists;

    protected override async Task OnInitializedAsync()
    {
        artists = service.CallService<string,ArtistDTO[]>(null,"GetArtists", Method.GET);

    }
}